// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Media
// =============================================================================

// Выше 1280
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

// Выше 1024
@mixin laptop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// Выше 780
@mixin tablet {
  @media screen and (min-width: 780px) {
    @content;
  }
}

// Ниже 780
@mixin phone {
  @media screen and (max-width: 779px) {
    @content;
  }
}

// =============================================================================
// Others
// =============================================================================
