:root {
  // =============================================================================
  // Colors
  // =============================================================================

  --color-black: #192435;

  // =============================================================================
  // Shadow(box-shadow)
  // =============================================================================

  --shadow-callback-button: 0 11px 20px 0 #49BADB66;

  // =============================================================================
  // Filter
  // =============================================================================
  //--filter-place-card: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  // =============================================================================
  // Z-index
  // =============================================================================

  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-pre-top: 90;
  --z-top: 100;

  // =============================================================================
  // Fonts
  // =============================================================================

  --font-roboto: Roboto, sans-serif;
  --font-inter: Inter, sans-serif;

}
